<div class="flex items-center h-full justify-between px-10 w-full">
    <div class="flex items-center gap-2">
        <div class="flex items-center rose:text-white dark:text-white blue:text-white cursor-pointer p-2 rounded-md hover:bg-black hover:dark:bg-white hover:dark:bg-opacity-5 hover:bg-opacity-5">
            <ng-icon name="heroBars3" size="24px"></ng-icon>
        </div>     
        <div class="flex items-center rose:text-white dark:text-white blue:text-white cursor-pointer p-2 rounded-md hover:bg-black hover:dark:bg-white hover:dark:bg-opacity-5 hover:bg-opacity-5">
            <ng-icon name="heroHome" size="24px"></ng-icon>        
        </div> 
        <div class="bg-gray-100 rose:bg-rose-500 rose:bg-opacity-70 blue:bg-blue-500 blue:bg-opacity-70 dark:bg-white dark:bg-opacity-5 rose:text-white px-2 py-1 flex rounded-md blue:text-white">
            <div class="rose:text-white dark:text-white blue:text-white mr-2 flex items-center">
                <ng-icon name="heroMagnifyingGlass" size="24px"></ng-icon>
            </div>
            <input class="bg-transparent focus:outline-none" type="text">
        </div>
    </div>
    <div class="flex items-center">
        <div class="flex items-center rose:text-white dark:text-white blue:text-white cursor-pointer p-2 rounded-md hover:bg-black hover:dark:bg-white hover:dark:bg-opacity-5 hover:bg-opacity-5">
            <ng-icon name="heroPlus" size="24px"></ng-icon>              
        </div>   
        <app-notifications-menu></app-notifications-menu>
        <app-theme-selector-menu></app-theme-selector-menu>
    </div>
</div>